ServiciosYComponentes/ArgentaC/ArgentaCWS/App_WebReferences/CertificadosWS/CertificadosWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://Ar.Gov.Anses.Prissa.Carpeta.Invalidez" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://Ar.Gov.Anses.Prissa.Carpeta.Invalidez" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Proporciona los servicios de consultas a los certificados proveniente de la SNR y los Provinciales</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://Ar.Gov.Anses.Prissa.Carpeta.Invalidez">
      <s:element name="obtenerCertificadosCudxCuil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuil" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCertificadosCudxCuilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCertificadosCudxCuilResult" type="tns:Certificados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Certificados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="certificado" type="tns:ArrayOfCertificado" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Errores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCertificado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Certificado" nillable="true" type="tns:Certificado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Certificado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cuil" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="tipoCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="origenCertificado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="permanente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idCud" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaInicioDanio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaEmisionCud" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaVtoCud" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaAutorizacion" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="mAsigFamiliar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mFamACargo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="fechaBaja" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="bajaSNR" type="tns:CodigoBajaSNR" />
          <s:element minOccurs="0" maxOccurs="1" name="jurisdiccion" type="tns:Jurisdiccion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CodigoBajaSNR">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Jurisdiccion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Codigo" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EsCud" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Errores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Certificados" nillable="true" type="tns:Certificados" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="obtenerCertificadosCudxCuilSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCertificadosCudxCuil" />
  </wsdl:message>
  <wsdl:message name="obtenerCertificadosCudxCuilSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCertificadosCudxCuilResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCertificadosCudxCuilHttpGetIn">
    <wsdl:part name="cuil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="obtenerCertificadosCudxCuilHttpGetOut">
    <wsdl:part name="Body" element="tns:Certificados" />
  </wsdl:message>
  <wsdl:message name="obtenerCertificadosCudxCuilHttpPostIn">
    <wsdl:part name="cuil" type="s:string" />
  </wsdl:message>
  <wsdl:message name="obtenerCertificadosCudxCuilHttpPostOut">
    <wsdl:part name="Body" element="tns:Certificados" />
  </wsdl:message>
  <wsdl:portType name="CertificadosWSSoap">
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los datos de los Certificados de la SNR</wsdl:documentation>
      <wsdl:input message="tns:obtenerCertificadosCudxCuilSoapIn" />
      <wsdl:output message="tns:obtenerCertificadosCudxCuilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CertificadosWSHttpGet">
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los datos de los Certificados de la SNR</wsdl:documentation>
      <wsdl:input message="tns:obtenerCertificadosCudxCuilHttpGetIn" />
      <wsdl:output message="tns:obtenerCertificadosCudxCuilHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CertificadosWSHttpPost">
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Obtiene los datos de los Certificados de la SNR</wsdl:documentation>
      <wsdl:input message="tns:obtenerCertificadosCudxCuilHttpPostIn" />
      <wsdl:output message="tns:obtenerCertificadosCudxCuilHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CertificadosWSSoap" type="tns:CertificadosWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <soap:operation soapAction="http://Ar.Gov.Anses.Prissa.Carpeta.Invalidez/obtenerCertificadosCudxCuil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CertificadosWSSoap12" type="tns:CertificadosWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <soap12:operation soapAction="http://Ar.Gov.Anses.Prissa.Carpeta.Invalidez/obtenerCertificadosCudxCuil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CertificadosWSHttpGet" type="tns:CertificadosWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <http:operation location="/obtenerCertificadosCudxCuil" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CertificadosWSHttpPost" type="tns:CertificadosWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="obtenerCertificadosCudxCuil">
      <http:operation location="/obtenerCertificadosCudxCuil" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificadosWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Proporciona los servicios de consultas a los certificados proveniente de la SNR y los Provinciales</wsdl:documentation>
    <wsdl:port name="CertificadosWSSoap" binding="tns:CertificadosWSSoap">
      <soap:address location="http://ansesnegodesapp/Anses.Prissa.Carpeta.Invalidez.Servicio/CertificadosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CertificadosWSSoap12" binding="tns:CertificadosWSSoap12">
      <soap12:address location="http://ansesnegodesapp/Anses.Prissa.Carpeta.Invalidez.Servicio/CertificadosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CertificadosWSHttpGet" binding="tns:CertificadosWSHttpGet">
      <http:address location="http://ansesnegodesapp/Anses.Prissa.Carpeta.Invalidez.Servicio/CertificadosWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CertificadosWSHttpPost" binding="tns:CertificadosWSHttpPost">
      <http:address location="http://ansesnegodesapp/Anses.Prissa.Carpeta.Invalidez.Servicio/CertificadosWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>