ServiciosYComponentes/ArgentaC/Anses.ArgentaC.Negocio/Web References/PIM/PIM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Anses.NacionServicios.Contrato" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Anses.NacionServicios.Contrato" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="resultadoConsultaCBU">
    <xs:sequence>
      <xs:element minOccurs="0" name="codeResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descResult" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subscriber" nillable="true" type="tns:subscriber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="resultadoConsultaCBU" nillable="true" type="tns:resultadoConsultaCBU" />
  <xs:complexType name="subscriber">
    <xs:sequence>
      <xs:element minOccurs="0" name="CBU" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="subscriber" nillable="true" type="tns:subscriber" />
</xs:schema>