ServiciosYComponentes/ArgentaC/Anses.ArgentaC.Negocio/Web References/EmplBenef/EmplBenef.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://anses.gov.ar/EmplBenef" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://anses.gov.ar/EmplBenef" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://anses.gov.ar/EmplBenef">
      <s:element name="ObtenerEmpBen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CUIL" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerEmpBenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerEmpBenResult" type="tns:ArrayOfEmpBen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmpBen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EmpBen" nillable="true" type="tns:EmpBen" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EmpBen">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="cuil" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="apeNom" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="doc" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="error" type="tns:Error" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Error">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="mensajeError" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfEmpBen" nillable="true" type="tns:ArrayOfEmpBen" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerEmpBenSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerEmpBen" />
  </wsdl:message>
  <wsdl:message name="ObtenerEmpBenSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerEmpBenResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerEmpBenHttpGetIn">
    <wsdl:part name="CUIL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerEmpBenHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfEmpBen" />
  </wsdl:message>
  <wsdl:message name="ObtenerEmpBenHttpPostIn">
    <wsdl:part name="CUIL" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ObtenerEmpBenHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfEmpBen" />
  </wsdl:message>
  <wsdl:portType name="EmplBenefSoap">
    <wsdl:operation name="ObtenerEmpBen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve marca de beneficiario o empleado para un cuil </wsdl:documentation>
      <wsdl:input message="tns:ObtenerEmpBenSoapIn" />
      <wsdl:output message="tns:ObtenerEmpBenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmplBenefHttpGet">
    <wsdl:operation name="ObtenerEmpBen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve marca de beneficiario o empleado para un cuil </wsdl:documentation>
      <wsdl:input message="tns:ObtenerEmpBenHttpGetIn" />
      <wsdl:output message="tns:ObtenerEmpBenHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EmplBenefHttpPost">
    <wsdl:operation name="ObtenerEmpBen">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Devuelve marca de beneficiario o empleado para un cuil </wsdl:documentation>
      <wsdl:input message="tns:ObtenerEmpBenHttpPostIn" />
      <wsdl:output message="tns:ObtenerEmpBenHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmplBenefSoap" type="tns:EmplBenefSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEmpBen">
      <soap:operation soapAction="http://anses.gov.ar/EmplBenef/ObtenerEmpBen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmplBenefSoap12" type="tns:EmplBenefSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerEmpBen">
      <soap12:operation soapAction="http://anses.gov.ar/EmplBenef/ObtenerEmpBen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmplBenefHttpGet" type="tns:EmplBenefHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ObtenerEmpBen">
      <http:operation location="/ObtenerEmpBen" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmplBenefHttpPost" type="tns:EmplBenefHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ObtenerEmpBen">
      <http:operation location="/ObtenerEmpBen" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmplBenef">
    <wsdl:port name="EmplBenefSoap" binding="tns:EmplBenefSoap">
      <soap:address location="http://ansesnegodesapp/EmplBenefWS/EmplBenef.asmx" />
    </wsdl:port>
    <wsdl:port name="EmplBenefSoap12" binding="tns:EmplBenefSoap12">
      <soap12:address location="http://ansesnegodesapp/EmplBenefWS/EmplBenef.asmx" />
    </wsdl:port>
    <wsdl:port name="EmplBenefHttpGet" binding="tns:EmplBenefHttpGet">
      <http:address location="http://ansesnegodesapp/EmplBenefWS/EmplBenef.asmx" />
    </wsdl:port>
    <wsdl:port name="EmplBenefHttpPost" binding="tns:EmplBenefHttpPost">
      <http:address location="http://ansesnegodesapp/EmplBenefWS/EmplBenef.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>