Presentacion/App_WebReferences/WSTipoConcConcLiq/TipoConcConcLiqWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dat.anses.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dat.anses.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dat.anses.gov.ar/">
      <s:element name="TraerTipoServicio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CodConceptoLiq" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="TipoConcepto" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTipoServicioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTipoServicioResult" type="tns:ArrayOfTipoServicio" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoServicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoServicio" nillable="true" type="tns:TipoServicio" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoServicio">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PideFactura" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PidePrestadorServicio" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideCBU" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideOtroMedioPago" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PidePoliza" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideNroSocio" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideDetalleServicio" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideTarjeta" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideSucursal" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideTicket" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="PideTipoDocPresentado" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:element name="Traer_TipoConc_TxPrestador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPrestador" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Traer_TipoConc_TxPrestadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Traer_TipoConc_TxPrestadorResult" type="tns:ArrayOfTipoConcepto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoConcepto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoConcepto" nillable="true" type="tns:TipoConcepto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoConcepto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoConcepto" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="DescTipoConcepto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UnAuditoria" type="tns:Auditoria" />
          <s:element minOccurs="0" maxOccurs="1" name="UnaListaConceptoLiquidacion" type="tns:ArrayOfConceptoLiquidacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Auditoria">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDOficina" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoSistema" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CuitOrganismo" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="DependenciaOficina" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CuitAutenticador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Autenticacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tabla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoAccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EntornoEjecucion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreMetodo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaHora" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cfg_Database" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cfg_StoreProc" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FecUltimaModificacion" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConceptoLiquidacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConceptoLiquidacion" nillable="true" type="tns:ConceptoLiquidacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConceptoLiquidacion">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodConceptoLiq" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DescConceptoLiq" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Prioridad" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="CodSidif" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Obligatorio" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsAfiliacion" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CodSistema" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoOnLine" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UnTipoConcepto" type="tns:TipoConcepto" />
          <s:element minOccurs="0" maxOccurs="1" name="UnAuditoria" type="tns:Auditoria" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaInicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FechaFin" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxADescontar" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoOrigenBeneficiario" type="tns:TipoOrigenBeneficiario" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPrestacionTurno" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EsInundado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsConceptoAjuste" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="AjustaSobreConcepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CodConceptoAjusteResta" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="EsConceptoRecupero" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RecuperaSobreConcepto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoPNC" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RequiereCBU" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Hab_Online" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoOrigenBeneficiario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdOrigenBeneficiario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EsPNC" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Traer_ConceptosLiq_TxPrestador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPrestador" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Traer_ConceptosLiq_TxPrestadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Traer_ConceptosLiq_TxPrestadorResult" type="tns:ArrayOfConceptoLiquidacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPrestador" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Traer_CodConceptoLiquidacion_TConceptosArgentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Traer_CodConceptoLiquidacion_TConceptosArgentaResult" type="tns:ArrayOfConceptoLiquidacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ArrayOfTipoServicio" nillable="true" type="tns:ArrayOfTipoServicio" />
      <s:element name="ArrayOfTipoConcepto" nillable="true" type="tns:ArrayOfTipoConcepto" />
      <s:element name="ArrayOfConceptoLiquidacion" nillable="true" type="tns:ArrayOfConceptoLiquidacion" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TraerTipoServicioSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTipoServicio" />
  </wsdl:message>
  <wsdl:message name="TraerTipoServicioSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTipoServicioResponse" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorSoapIn">
    <wsdl:part name="parameters" element="tns:Traer_TipoConc_TxPrestador" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorSoapOut">
    <wsdl:part name="parameters" element="tns:Traer_TipoConc_TxPrestadorResponse" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorSoapIn">
    <wsdl:part name="parameters" element="tns:Traer_ConceptosLiq_TxPrestador" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorSoapOut">
    <wsdl:part name="parameters" element="tns:Traer_ConceptosLiq_TxPrestadorResponse" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaSoapIn">
    <wsdl:part name="parameters" element="tns:Traer_CodConceptoLiquidacion_TConceptosArgenta" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaSoapOut">
    <wsdl:part name="parameters" element="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTipoServicioHttpGetIn">
    <wsdl:part name="CodConceptoLiq" type="s:string" />
    <wsdl:part name="TipoConcepto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTipoServicioHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoServicio" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorHttpGetIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoConcepto" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorHttpGetIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfConceptoLiquidacion" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaHttpGetIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfConceptoLiquidacion" />
  </wsdl:message>
  <wsdl:message name="TraerTipoServicioHttpPostIn">
    <wsdl:part name="CodConceptoLiq" type="s:string" />
    <wsdl:part name="TipoConcepto" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TraerTipoServicioHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoServicio" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorHttpPostIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoConc_TxPrestadorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoConcepto" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorHttpPostIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_ConceptosLiq_TxPrestadorHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfConceptoLiquidacion" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaHttpPostIn">
    <wsdl:part name="idPrestador" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Traer_CodConceptoLiquidacion_TConceptosArgentaHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfConceptoLiquidacion" />
  </wsdl:message>
  <wsdl:portType name="TipoConcConcLiqWSSoap">
    <wsdl:operation name="TraerTipoServicio">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipo de Servicio por Concepto y TipoConcepto</wsdl:documentation>
      <wsdl:input message="tns:TraerTipoServicioSoapIn" />
      <wsdl:output message="tns:TraerTipoServicioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_TipoConc_TxPrestadorSoapIn" />
      <wsdl:output message="tns:Traer_TipoConc_TxPrestadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_ConceptosLiq_TxPrestadorSoapIn" />
      <wsdl:output message="tns:Traer_ConceptosLiq_TxPrestadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae Concepto Liquidacion Argenta por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaSoapIn" />
      <wsdl:output message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TipoConcConcLiqWSHttpGet">
    <wsdl:operation name="TraerTipoServicio">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipo de Servicio por Concepto y TipoConcepto</wsdl:documentation>
      <wsdl:input message="tns:TraerTipoServicioHttpGetIn" />
      <wsdl:output message="tns:TraerTipoServicioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_TipoConc_TxPrestadorHttpGetIn" />
      <wsdl:output message="tns:Traer_TipoConc_TxPrestadorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_ConceptosLiq_TxPrestadorHttpGetIn" />
      <wsdl:output message="tns:Traer_ConceptosLiq_TxPrestadorHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae Concepto Liquidacion Argenta por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaHttpGetIn" />
      <wsdl:output message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TipoConcConcLiqWSHttpPost">
    <wsdl:operation name="TraerTipoServicio">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipo de Servicio por Concepto y TipoConcepto</wsdl:documentation>
      <wsdl:input message="tns:TraerTipoServicioHttpPostIn" />
      <wsdl:output message="tns:TraerTipoServicioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_TipoConc_TxPrestadorHttpPostIn" />
      <wsdl:output message="tns:Traer_TipoConc_TxPrestadorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Concepto Liquidacion por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_ConceptosLiq_TxPrestadorHttpPostIn" />
      <wsdl:output message="tns:Traer_ConceptosLiq_TxPrestadorHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae Concepto Liquidacion Argenta por idPrestador</wsdl:documentation>
      <wsdl:input message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaHttpPostIn" />
      <wsdl:output message="tns:Traer_CodConceptoLiquidacion_TConceptosArgentaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoConcConcLiqWSSoap" type="tns:TipoConcConcLiqWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerTipoServicio">
      <soap:operation soapAction="http://dat.anses.gov.ar/TraerTipoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <soap:operation soapAction="http://dat.anses.gov.ar/Traer_TipoConc_TxPrestador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <soap:operation soapAction="http://dat.anses.gov.ar/Traer_ConceptosLiq_TxPrestador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <soap:operation soapAction="http://dat.anses.gov.ar/Traer_CodConceptoLiquidacion_TConceptosArgenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoConcConcLiqWSSoap12" type="tns:TipoConcConcLiqWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TraerTipoServicio">
      <soap12:operation soapAction="http://dat.anses.gov.ar/TraerTipoServicio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <soap12:operation soapAction="http://dat.anses.gov.ar/Traer_TipoConc_TxPrestador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <soap12:operation soapAction="http://dat.anses.gov.ar/Traer_ConceptosLiq_TxPrestador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <soap12:operation soapAction="http://dat.anses.gov.ar/Traer_CodConceptoLiquidacion_TConceptosArgenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoConcConcLiqWSHttpGet" type="tns:TipoConcConcLiqWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TraerTipoServicio">
      <http:operation location="/TraerTipoServicio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <http:operation location="/Traer_TipoConc_TxPrestador" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <http:operation location="/Traer_ConceptosLiq_TxPrestador" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <http:operation location="/Traer_CodConceptoLiquidacion_TConceptosArgenta" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoConcConcLiqWSHttpPost" type="tns:TipoConcConcLiqWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TraerTipoServicio">
      <http:operation location="/TraerTipoServicio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoConc_TxPrestador">
      <http:operation location="/Traer_TipoConc_TxPrestador" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_ConceptosLiq_TxPrestador">
      <http:operation location="/Traer_ConceptosLiq_TxPrestador" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_CodConceptoLiquidacion_TConceptosArgenta">
      <http:operation location="/Traer_CodConceptoLiquidacion_TConceptosArgenta" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoConcConcLiqWS">
    <wsdl:port name="TipoConcConcLiqWSSoap" binding="tns:TipoConcConcLiqWSSoap">
      <soap:address location="http://localhost/DATServicioV2/TipoConcConcLiqWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoConcConcLiqWSSoap12" binding="tns:TipoConcConcLiqWSSoap12">
      <soap12:address location="http://localhost/DATServicioV2/TipoConcConcLiqWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoConcConcLiqWSHttpGet" binding="tns:TipoConcConcLiqWSHttpGet">
      <http:address location="http://localhost/DATServicioV2/TipoConcConcLiqWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoConcConcLiqWSHttpPost" binding="tns:TipoConcConcLiqWSHttpPost">
      <http:address location="http://localhost/DATServicioV2/TipoConcConcLiqWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>