Presentacion/App_WebReferences/WSTipoDocumentoPresentado_V2/TipoDocumentoPresentadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://dat.anses.gov.ar/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://dat.anses.gov.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dat.anses.gov.ar/">
      <s:element name="TipoDocumentoPresentado_Traer">
        <s:complexType />
      </s:element>
      <s:element name="TipoDocumentoPresentado_TraerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumentoPresentado_TraerResult" type="tns:ArrayOfTipoDocumentoPresentado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDocumentoPresentado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumentoPresentado" nillable="true" type="tns:TipoDocumentoPresentado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDocumentoPresentado">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoDocPresentado" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="DescTipoDocPresentado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Habilitado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoWeb" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoPreAprobado" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoComercio" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoMayor75" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="HabilitadoMenor75" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfTipoDocumentoPresentado" nillable="true" type="tns:ArrayOfTipoDocumentoPresentado" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TipoDocumentoPresentado_TraerSoapIn">
    <wsdl:part name="parameters" element="tns:TipoDocumentoPresentado_Traer" />
  </wsdl:message>
  <wsdl:message name="TipoDocumentoPresentado_TraerSoapOut">
    <wsdl:part name="parameters" element="tns:TipoDocumentoPresentado_TraerResponse" />
  </wsdl:message>
  <wsdl:message name="TipoDocumentoPresentado_TraerHttpGetIn" />
  <wsdl:message name="TipoDocumentoPresentado_TraerHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoDocumentoPresentado" />
  </wsdl:message>
  <wsdl:message name="TipoDocumentoPresentado_TraerHttpPostIn" />
  <wsdl:message name="TipoDocumentoPresentado_TraerHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfTipoDocumentoPresentado" />
  </wsdl:message>
  <wsdl:portType name="TipoDocumentoPresentadoWSSoap">
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipos Documentos Presentados</wsdl:documentation>
      <wsdl:input message="tns:TipoDocumentoPresentado_TraerSoapIn" />
      <wsdl:output message="tns:TipoDocumentoPresentado_TraerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TipoDocumentoPresentadoWSHttpGet">
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipos Documentos Presentados</wsdl:documentation>
      <wsdl:input message="tns:TipoDocumentoPresentado_TraerHttpGetIn" />
      <wsdl:output message="tns:TipoDocumentoPresentado_TraerHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TipoDocumentoPresentadoWSHttpPost">
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Traer Tipos Documentos Presentados</wsdl:documentation>
      <wsdl:input message="tns:TipoDocumentoPresentado_TraerHttpPostIn" />
      <wsdl:output message="tns:TipoDocumentoPresentado_TraerHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoDocumentoPresentadoWSSoap" type="tns:TipoDocumentoPresentadoWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <soap:operation soapAction="http://dat.anses.gov.ar/TipoDocumentoPresentado_Traer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoDocumentoPresentadoWSSoap12" type="tns:TipoDocumentoPresentadoWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <soap12:operation soapAction="http://dat.anses.gov.ar/TipoDocumentoPresentado_Traer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoDocumentoPresentadoWSHttpGet" type="tns:TipoDocumentoPresentadoWSHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <http:operation location="/TipoDocumentoPresentado_Traer" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TipoDocumentoPresentadoWSHttpPost" type="tns:TipoDocumentoPresentadoWSHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TipoDocumentoPresentado_Traer">
      <http:operation location="/TipoDocumentoPresentado_Traer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoDocumentoPresentadoWS">
    <wsdl:port name="TipoDocumentoPresentadoWSSoap" binding="tns:TipoDocumentoPresentadoWSSoap">
      <soap:address location="http://localhost/DATServicioV2/TipoDocumentoPresentadoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoDocumentoPresentadoWSSoap12" binding="tns:TipoDocumentoPresentadoWSSoap12">
      <soap12:address location="http://localhost/DATServicioV2/TipoDocumentoPresentadoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoDocumentoPresentadoWSHttpGet" binding="tns:TipoDocumentoPresentadoWSHttpGet">
      <http:address location="http://localhost/DATServicioV2/TipoDocumentoPresentadoWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TipoDocumentoPresentadoWSHttpPost" binding="tns:TipoDocumentoPresentadoWSHttpPost">
      <http:address location="http://localhost/DATServicioV2/TipoDocumentoPresentadoWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>