Presentacion/App_WebReferences/WSGrantForSystemCache/WSGrantForSystemCache.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSGrantForSystemCache" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/GrantForSystemGroup.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/GrantForSystemGroup.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/GrantForSystemGroup.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Anses.Director" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSGrantForSystemCache_GetGrantFromSystemGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantFromSystemGroup" />
  </wsdl:message>
  <wsdl:message name="IWSGrantForSystemCache_GetGrantFromSystemGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantFromSystemGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IWSGrantForSystemCache_LimpiarGrantFromSystemGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarGrantFromSystemGroup" />
  </wsdl:message>
  <wsdl:message name="IWSGrantForSystemCache_LimpiarGrantFromSystemGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarGrantFromSystemGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSGrantForSystemCache">
    <wsdl:operation name="GetGrantFromSystemGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGrantForSystemCache/GetGrantFromSystemGroup" message="tns:IWSGrantForSystemCache_GetGrantFromSystemGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGrantForSystemCache/GetGrantFromSystemGroupResponse" message="tns:IWSGrantForSystemCache_GetGrantFromSystemGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarGrantFromSystemGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSGrantForSystemCache/LimpiarGrantFromSystemGroup" message="tns:IWSGrantForSystemCache_LimpiarGrantFromSystemGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSGrantForSystemCache/LimpiarGrantFromSystemGroupResponse" message="tns:IWSGrantForSystemCache_LimpiarGrantFromSystemGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWSGrantForSystemCache" type="tns:IWSGrantForSystemCache">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGrantFromSystemGroup">
      <soap:operation soapAction="http://tempuri.org/IWSGrantForSystemCache/GetGrantFromSystemGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarGrantFromSystemGroup">
      <soap:operation soapAction="http://tempuri.org/IWSGrantForSystemCache/LimpiarGrantFromSystemGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSGrantForSystemCache">
    <wsdl:port name="BasicHttpBinding_IWSGrantForSystemCache" binding="tns:BasicHttpBinding_IWSGrantForSystemCache">
      <soap:address location="http://ansesarqdir01.anses.gov.ar:8091/DirectorSOA/GrantForSystemGroup.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>